{{>layouts/header}}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Contents</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        {{#articles}}
        <tbody>
            <tr>
            <th scope="row">{{id}}</th>
                <td>{{title}}</td>
                <td>{{contents}}</td>
                {{#author}}<td>{{author}}</td>{{/author}}
                {{^author}}<td>익명의 돌고래</td>{{/author}}
            </tr>
        </tbody>
        {{/articles}}
    </table>
{{>layouts/footer}}